<section>
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 text-center">Registration Form</h3>
            <form [formGroup]="signup" (submit)="save()">
  
              <div class="row">
                <div class="col-12 col-md-6 mb-4">
                  <div data-mdb-input-init class="form-outline">
                    <input type="text" id="firstName" class="form-control form-control-lg" formControlName="Cust_fname" />
                    <label class="form-label" for="firstName">First Name</label>
                  </div>
                </div>
  
                <div class="col-12 col-md-6 mb-4">
                  <div data-mdb-input-init class="form-outline">
                    <input type="text" id="lastName" class="form-control form-control-lg" formControlName="Cust_lname"/>
                    <label class="form-label" for="lastName">Last Name</label>
                  </div>
                </div>
  
                <div class="col-12 col-md-6 mb-4">
                  <div data-mdb-input-init class="form-outline">
                    <input type="text" id="middleName" class="form-control form-control-lg" formControlName="Cust_mname"/>
                    <label class="form-label" for="middleName">Middle Name</label>
                  </div>
                </div>
  
                <div class="col-12 col-md-6 mb-4 pb-2">
                  <div data-mdb-input-init class="form-outline">
                    <input type="tel" id="phoneNumber" class="form-control form-control-lg" formControlName="Cust_phoneno"/>
                    <label class="form-label" for="phoneNumber">Phone Number</label>
                  </div>
                </div>
  
                <div class="col-12 col-md-6 mb-4 pb-2">
                  <div data-mdb-input-init class="form-outline">
                    <input type="text" id="address" class="form-control form-control-lg" formControlName="Cust_address"/>
                    <label class="form-label" for="address">Address</label>
                  </div>
                </div>
              </div>
  
              <div class="row">
                <div class="col-12 col-md-6 mb-4 pb-2">
                  <div data-mdb-input-init class="form-outline">
                    <input type="email" id="emailAddress" class="form-control form-control-lg" formControlName="Cust_email"/>
                    <label class="form-label" for="emailAddress">Email</label>
                  </div>
                </div>
  
                <div class="col-12 col-md-6 mb-4 pb-2">
                  <div data-mdb-input-init class="form-outline">
                    <input type="password" id="password" class="form-control form-control-lg" formControlName="Cust_password"/>
                    <label class="form-label" for="password">Password</label>
                  </div>
                </div>
  
                <div class="col-12 col-md-6 mb-4 pb-2">
                  <div data-mdb-input-init class="form-outline">
                    <input type="password" id="passwordConfirm" class="form-control form-control-lg" formControlName="Cust_password_confirmation"/>
                    <label class="form-label" for="passwordConfirm">Confirm Password</label>
                  </div>
                </div>
              </div>
  
              <div class="mt-4 pt-2 text-center">
                <!-- Submit Button -->
                <input data-mdb-ripple-init class="btn btn-primary btn-sm mx-2" type="submit" value="Submit" />
              
                <!-- "Go Back to Login" Button -->
                <a [routerLink]="['/login']" class="btn btn-secondary btn-sm mx-2">Go Back to Login</a>
              </div>
              

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
