<section>
  <div class="container">
    <div class="title-row">
      <div class="title">Signup</div>
    </div>
    <div class="content">
      <form [formGroup]="signup" (submit)="save()">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Firstname</span>
            <input type="text" id="firstName" placeholder="firstname" class="form-control form-control-lg" formControlName="Cust_fname">
          </div>
          <div class="input-box">
            <span class="details">Lastname</span>
            <input type="text" id="lastName" placeholder="lastname" class="form-control form-control-lg" formControlName="Cust_lname">
          </div>
          <div class="input-box">
            <span class="details">Middlename</span>
            <input type="text" id="middleName" placeholder="middleName" class="form-control form-control-lg" formControlName="Cust_mname"/>
          </div>
          <div class="input-box">
            <span class="details">Phone Number</span>
            <input type="tel" id="phoneNumber" placeholder="phone number" class="form-control form-control-lg" formControlName="Cust_phoneno"/>
          </div>
          <div class="input-box">
            <span class="details">Address</span>
            <input type="text" id="address" placeholder="address" class="form-control form-control-lg" formControlName="Cust_address"/>
          </div>
          <div class="input-box">
            <span class="details">Email</span>
            <input type="email" id="emailAddress" placeholder="email" class="form-control form-control-lg" formControlName="Cust_email"/>
          </div>
          <div class="input-box">
            <span class="details">Password</span>
            <input type="password" id="password" placeholder="password" class="form-control form-control-lg" formControlName="Cust_password"/>
          </div>
          <div class="input-box">
            <span class="details">Confirm password</span>
            <input type="password" id="passwordConfirm" placeholder="retype password" class="form-control form-control-lg" formControlName="Cust_password_confirmation"/>
          </div>
        </div>
        
        <div class="button">
          <input type="submit" value="Register">
        </div>

        <!-- Already have an account link -->
        <div class="already-account d-flex justify-content-center align-items-center text-center">
          Already have an account? 
          <a class="link-danger fw-bold ms-2" [routerLink]="['/login']">Login here</a>
        </div>        
      </form>
    </div>
  </div>
</section>