section {
    background-image: url('/assets/bg.png');
    /* height: 100vh; */
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #f8fafd;
  }
  
  .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
  }

  .card-registration .select-arrow {
    top: 13px;
  }

  @media (max-width: 768px) {
    .form-outline {
      margin-bottom: 15px;
    }

    .container {
      padding: 10px;
    }

    .card-body {
      padding: 1.5rem;
    }
  }