.pagination-container {
  margin-top: 20px;
}

.pagination .page-item {
  cursor: pointer;
}

.pagination .page-item.disabled .page-link {
  cursor: not-allowed;
  opacity: 0.6;
}

.pagination .page-item.active .page-link {
  background-color: #5988e2;
  color: #fff;
  border-color: #5988e2;
}

.pagination .page-link {
  color: #5988e2;
  border: 1px solid #dee2e6;
  margin: 0 5px;
  border-radius: 4px;
  padding: 6px 12px;
}

.pagination .page-link:hover {
  background-color: #f1f1f1;
  color: #5988e2;
}

/* Responsive table for small screens */
.table-responsive {
  overflow-x: auto;
}
/* Custom button color */
.btn-custom {
  background-color: #5988e2;
  color: white;
  border: 1px solid #5988e2;
}

.btn-custom:hover {
  background-color: #4e72b4; /* Darker shade for hover effect */
  color: white;
  border-color: #4e72b4;
}

/* Optional: Adjust the focus style */
.btn-custom:focus {
  box-shadow: 0 0 0 0.2rem rgba(89, 136, 226, 0.5);
}

/* Mobile responsiveness for filter buttons and search bar */
@media (max-width: 768px) {
  .search-bar-container {
    width: 100%;
  }

  .btn-group {
    flex-direction: column;
    align-items: flex-start;
  }

  .btn-group .btn {
    width: 100%;
    margin-bottom: 5px;
  }

  .pagination-container {
    text-align: center;
  }

  .pagination .page-link {
    padding: 5px 10px;
  }
}
