<div class="row align-items-center text-center" style="margin-top: -10px; margin-bottom: -5px; background-color: #eee; font-size: 0.75rem; font-weight: bold; color: #164482;">
  <div class="col">
    <div class="topbarElements d-inline-flex align-items-center" style="line-height: 2.5rem;">
      <div><i class="fa fa-map-marker" aria-hidden="true" style="font-size: 1.5rem;"></i></div>
      <div class="text-start d-md-block d-none" style="padding-top: 0.5rem; padding-left: 5px;">
        <p class="p-0 m-0 text-secondary">123 Broad St, Rosario, Pangasinan</p>
      </div>
    </div>
  </div>
  <div class="col border-start border-end">
    <div class="topbarElements d-inline-flex align-items-center" style="line-height: 2.5rem;">
      <div><i class="fa fa-envelope" aria-hidden="true" style="font-size: 1.5rem;"></i></div>
      <div class="text-start d-md-block d-none" style="padding-top: 0.5rem; padding-left: 5px;">
        <p class="p-0 m-0 text-secondary">S2Kgmail.com</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="topbarElements d-inline-flex align-items-center" style="line-height: 2.5rem;">
      <div><i class="fa fa-phone" aria-hidden="true" style="font-size: 1.5rem;"></i></div>
      <div class="text-start d-md-block d-none" style="padding-top: 0.5rem; padding-left: 5px;">
        <p class="p-0 m-0 text-secondary">+91 123 123 2323</p>
      </div>
    </div>
  </div>
</div>

<nav class="navbar navbar-expand-lg p-0 m-0" style="background-color: #5988e2;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/s2klogo.png" alt="S2K Logo" height="62">
    </a>
    <button
      class="navbar-toggler"
      type="button"
      (click)="toggleNav()"
      [ngStyle]="{ 'margin-left.px': isOpen ? 250 : 0 }"
      aria-controls="navbarNavDropdown"
      [attr.aria-expanded]="isOpen ? 'true' : 'false'"
      aria-label="Toggle navigation"
      [ngClass]="{ open: isOpen }"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngClass]="{ 'show': isOpen }" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link mx-2 active text-white" [routerLink]="['/main/cusmainhome']" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2 text-white" [routerLink]="['/main/maintrans']" routerLinkActive="active">Transactions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2 text-white" [routerLink]="['/main/mainaccount']" routerLinkActive="active">Account</a>
        </li>
        <li class="nav-item flare">
          <a class="nav-link mx-2 text-white" (click)="logout()" routerLinkActive="active">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div class="main-content" style="margin-top: 50px">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="container-fluid">
          <div class="mx-1">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

