.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  background-color: #e5e5e5;
  padding: 0 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.navbar .logo-container {
  display: flex;
  align-items: center;
}

.navbar .logo {
  max-height: 40px;
}

<<<<<<< HEAD
.navbar .nav-toggle {
  display: none; /* Hidden on larger screens */
=======
.sidenav .pro {
  margin-top: auto;
}

.sidenav .pro .menu-item {
  padding: 15px;
  font-size: 20px;
  color: #194280;
  display: flex;
  align-items: center;
  transition: background-color 0.3s, color 0.3s;
}

.sidenav .pro .menu-item:hover, .sidenav .pro .menu-item.active {
  color: #194280;
  background-color: rgb(255, 255, 255);
}

.main-content {
  transition: margin-left 0.3s;
  /* padding: 10px; */
}

.nav-toggle {
>>>>>>> dcfa6609305a97f553451a567c6fad99b9eaeeba
  font-size: 25px;
  cursor: pointer;
  color: #194280;
}

.navbar .menu {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
}

.navbar .menu-item {
  margin: 0 10px;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  color: #194280;
  display: flex;
  align-items: center;
  transition: background-color 0.3s, color 0.3s;
}

.navbar .menu-item:hover, .navbar .menu-item.active {
  background-color: #fff;
  color: #000;
  border-radius: 5px;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .navbar .nav-toggle {
    display: block; /* Show the toggle button on smaller screens */
  }

  .navbar .menu {
    display: none; /* Hide the menu on smaller screens */
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #e5e5e5;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  .navbar .menu.open {
    display: flex; /* Show the menu when open */
  }

  .navbar .menu-item {
    margin: 5px 0;
    width: 100%;
    text-align: center;
  }

  .main-content {
    margin-top: 60px; /* Account for the navbar height */
  }
}
