 /* Card Styling */
 .card {
    box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
    border: 0;
    border-radius: 1rem;
    background-color: #fff;
  }
  
  .card-body {
    padding: 1.5rem;
  }
  
  .image-preview img {
    border-radius: 0.5rem;
  }
  
  /* Form Elements */
  .form-label {
    font-weight: 500;
  }
  
  /* Progress Bar */
  #progressbar {
    margin-bottom: 3vh;
    color: rgb(109, 150, 238);
    padding-left: 0;
    margin-top: 3vh;
  }
  
  #progressbar li {
    list-style-type: none;
    font-size: x-small;
    width: 25%;
    float: left;
    position: relative;
    font-weight: 400;
    color: rgb(160, 159, 159);
  }
  
  #progressbar li:before {
    content: "";
    display: block;
    background: #ddd;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 1vh;
  }
  
  #progressbar li:after {
    content: '';
    height: 2px;
    background: #ddd;
    position: absolute;
    left: 0;
    right: 0;
    top: 1px;
    z-index: 1;
  }
  
  #progressbar li.active {
    color: black;
  }
  
  #progressbar li.active:before,
  #progressbar li.active:after {
    background: rgb(109, 150, 238);
  }
  .info{
    padding: 5% 8%;
}
.info .col-5{
    padding: 0;
}
#heading{
    color: grey;
    line-height: 6vh;
}
.pricing{
    background-color: #ddd3;
    padding: 2vh 8%;
    font-weight: 400;
    line-height: 2.5;
}
.pricing .col-3{
    padding: 0;
}
.total{
    padding: 2vh 8%;
    color: #5988e2;
    font-weight: bold;
}
.total .col-3{
    padding: 0;
}
  /* Media Queries for Responsive Design */
  @media (max-width: 768px) {
    .accordion-body {
      padding: 1rem;
    }
  
    .col-lg-9,
    .col-lg-3 {
      margin-bottom: 2rem;
    }
  
    .card-body {
      padding: 1rem;
    }
  
    .btn {
      width: 100%;
      margin-bottom: 0.5rem;
    }
  }