<div class="container mt-4">
  <div class="row">
    <!-- Payment Form Section -->
    <div class="col-lg-9 mb-4">
      <div class="accordion" id="accordionPayment">
        <div class="accordion-item mb-3">
          <div id="collapseCC" class="accordion-collapse collapse show" data-bs-parent="#accordionPayment">
            <div class="accordion-body">
              <div class="progress-track">
                <ul id="progressbar">
                  <li
                    *ngFor="let step of steps; let i = index"
                    [ngClass]="{ 'active': i <= currentStep }"
                    class="step0 fs-6"
                    (click)="tracking(i)"
                  >
                    {{ step }}
                  </li>
                </ul>
              </div>
              <div *ngFor="let g of getDet; trackBy: trackByTransacDet">
                <div class="info">
                  <div class="row">
                    <div class="col-7">
                      <span id="heading">Date</span><br />
                      <span id="details">{{ currentDate }}</span>
                    </div>
                    <div class="col-5 text-end">
                      <span id="heading">Order No.</span><br />
                      <span id="details">{{ g.Tracking_number || 'N/A' }}</span>
                    </div>
                  </div>
                </div>
                <div class="pricing">
                  <div>
                    <h6 id="name">Laundry</h6>
                    <div *ngFor="let a of g.details; trackBy: trackByDetID" class="d-flex justify-content-between">
                      <span id="price">{{ a.Category }}</span>
                      <span id="price">{{ a.price | currency: 'PHP' }}</span>
                    </div>
                  </div>
                  <div *ngIf="g.status === 'delivery' || g.status === 'Delivery'">
                    <h6 id="name">Shipping</h6>
                    <div class="d-flex justify-content-between">
                      <span id="price">Free</span>
                    </div>
                  </div>
                </div>
                <div class="total">
                  <div class="row">
                    <div class="col-9">TOTAL</div>
                    <div class="col-3"><strong>{{ g.total | currency: 'PHP' }}</strong></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Upload Payment Section -->
    <div class="col-lg-3">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
