<section>
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <h2 class="active"><b>CUSTOMER LOGIN</b></h2>
      <div class="fadeIn first">
        <img src="" id="icon" alt="" />
      </div>

      <form [formGroup]="loginForm" (submit)="login()">
        <div id="wrong" class="text-center text-danger mx-4 rounded mb-3" style="display: none">
          Either the Username or Password you've entered is incorrect!
        </div>
        <input type="text" id="username" class="fadeIn second" name="username" placeholder="Enter Username" formControlName="email" />
        <div id="nousername" class="text-danger mt-2 mb-3" style="display: none"></div>

        <input type="password" id="password" class="fadeIn third" name="password" placeholder="Enter Password" formControlName="password" />
        <div id="nopassword" class="text-danger mt-2 mb-3" style="display: none"></div>

        <input type="submit" class="fadeIn fourth btn" value="Log In" />
      </form>

      <!-- Add the "Sign Up" button below -->
      <div class="text-center mt-3">
        <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? 
          <a class="link-danger" [routerLink]="['/signup']">Sign Up</a>
        </p>
      </div>
    </div>
  </div>
</section>
