<div class="modal-content">
  <div class="modal-body">
    <div class="container-fluid">
      <form [formGroup]="newtransac" id="manage-laundry">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-12 col-md-6 mb-3">
              <div class="form-group">
                <label for="trackingNumber" class="control-label">Tracking Number</label>
                <input type="hidden" [value]="trackingNumber" formControlName="Tracking_number">
                <h4 class="modal-title"><strong>{{ Tracking_Number }}</strong></h4>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-2 mb-3">
              <div class="form-group">
                <label for="laundryType" class="control-label">Laundry Type</label>
                <select class="form-control" id="laundryType" formControlName="Category">
                  <option value="" disabled selected>Select Laundry Type</option>
                  @for(c of categ; track c.Categ_ID){
                    <option [value]="c.Categ_ID">{{c.Category}}</option>
                  }
                </select>
              </div>
            </div>
            <div class="col-md-2 mb-3">
              <div class="form-group">
                <label for="weight" class="control-label">Count</label>
                <input type="number" step="any" min="1" class="form-control text-right" id="weight" formControlName="Qty">
              </div>
            </div>
            <div class="col-sm-3 mt-5">
              <div class="form-group w-100">
                <button class="btn btn-sm w-100" type="button" id="add_to_list" style="background-color: #5988e2;" (click)="addToList()">
                  <i class="fa fa-plus"></i> Add to List
                </button>
              </div>
            </div>
          </div>
          <!-- Services (Hand Wash, Press) -->
          <div class="row">
            <div class="col-12 col-md-6 mb-3">
              <div class="form-group">
                <label for="services" class="control-label">Services</label><br>
                <div class="d-flex">
                  <div class="form-check me-3">
                    <input class="form-check-input" type="radio" formControlName="Transac_status" id="rush" value="rush">
                    <label class="form-check-label" for="rush">Rush Jobs</label>
                  </div>
                  <div class="form-check me-3">
                    <input class="form-check-input" type="radio" formControlName="Transac_status" id="pick" value="pick">
                    <label class="form-check-label" for="pick-up">Pick-up</label>
                  </div>
                  <div class="form-check me-3">
                    <input class="form-check-input" type="radio" formControlName="Transac_status" id="deliver" value="deliver">
                    <label class="form-check-label" for="delivery">Delivery</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <table class="table table-bordered" id="list">
                <colgroup>
                  <col width="30%">
                  <col width="15%">
                </colgroup>
                <thead>
                  <tr>
                    <th class="text-center">Category</th>
                    <th class="text-center">Qty</th>
                    <th class="text-center">Status</th>
                    <th class="text-center">Description</th>
                  </tr>
                </thead>
                <tbody>
                  @for(l of laundrylist; track l.category ){
                    <tr>
                      <td class="text-center">{{ l.Category }}</td>
                      <td class="text-center">{{ l.Qty }}</td>
                      <td class="text-center">{{ l.Status }}</td>
                      <td class="text-center col-sm-4">
                        <div class="form-check me-3">
                          <input type="text" id="searchInput" class="form-control" placeholder="" style="width: 200px;">
                        </div>
                      </td>
                      <td class="text-center col-sm-1">
                        <button class="btn btn-danger btn-sm" (click)="removeFromList(l)">
                          <i class="fa fa-times"></i>
                        </button>
                      </td>
                    </tr>
                  }
                </tbody>
              </table>
            </div>
          </div>
          <hr>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="insert()">Save</button>
  </div>
</div>
