.heading1 {
    font-size: 16px;
    color: #ffffff;
<<<<<<< HEAD
}

.btn {
    background-color: #5988E2;
    color: #fff;
}
.browse-button {
    background-color: #194280;
    color: #fff;
=======
  }
  .btn{
    background-color: #5988e2;
    color: #fff;
  }
  .browse-button{
    background-color: #5988e2;
    color: #fff;
    cursor: pointer;
  }
  .search-input {
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
    outline: none;
    color: #6c757d; /* Text color to match the muted text */
    padding: 5px 10px;
  }
  
  .search-input::placeholder {
    color: #6c757d; 
  }
  .fa-search {
    color: #6c757d; /* Icon color to match the muted text */
    cursor: pointer;
  }
  
  th {
    font-size: 14px;
    color: #323031;
  }
  
  tr {
    font-size: 13px;
  }
  
  .solditems {
    font-size: 13px;
    color: #9FA8DA;
  }
  
  .balance {
    font-size: 45px;
    color: green;
  }
  
  .account {
    margin-bottom: 36px !important;
    font-size: 16px;
    color: #1A237E;
  }
  
  .transaction {
    font-size: 13px;
  }
  
  .progress {
    height: 3px !important;
  }
  
  .money {
    color: #9FA8DA;
  }
  
  .goal {
    font-size: 17px;
    color: #D50000;
    font-weight: 400;
  }
  
  .revenue {
    font-size: 14px;
    color: #311B92;
    font-weight: 500;
  }
  
  .orders {
    font-size: 14px;
    color: #311B92;
    font-weight: 500;
  }
  
  .customer {
    font-size: 14px;
    color: #311B92;
    font-weight: 500;
  }
  td img {
    width: 36px;
    height: 36px;
    margin-right: .5rem;
    border-radius: 50%;
  
    vertical-align: middle;
  }
  tbody tr:hover {
    background-color: #fff6 !important;
  }
  .status {
    padding: .4rem 0;
    border-radius: 2rem;
    text-align: center;
  }
  
  .status.delivered {
    background-color: #86e49d;
    color: #006b21;
  }
  
  .status.cancelled {
    background-color: #d893a3;
    color: #b30021;
  }
  
  .status.pending {
    background-color: #ebc474;
    color: #986500;
  }
  
  .status.shipped {
    background-color: #6fcaea;
  }
  @media (max-width: 576px) {
    .border-right {
        border-right: 0; /* Remove right border on extra small screens */
    }
    .col-md-8 {
        width: 100%; /* Make the 8-column full width on extra small screens */
    }
    .col-md-4 {
        width: 100%; /* Make the 4-column full width on extra small screens */
        margin-top: 20px; /* Add some top margin for spacing */
    }
  }
  .browse-button {
    background-color: #194280;
    color: #ffffff;
>>>>>>> e01d224bc8a9355ad4aec57efbbe6f9cbd90fe44
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.browse-button:hover {
    background-color: #14305a;
}
th {
    font-size: 14px;
    color: #323031;
}

tr {
    font-size: 13px;
}

tbody tr:hover {
    background-color: #fff6 !important;
}

.status {
    padding: 2px;
    border-radius: 2rem;
    text-align: center;
}

.status.pending {
    background-color: #ebc474;
    color: #986500;
}

@media (max-width: 576px) {
    .border-right {
        border-right: 0;
    }
    .col-md-8, .col-md-4 {
        width: 100%;
    }
    .col-md-4 {
        margin-top: 20px;
    }
}