.heading1 {
    font-size: 16px;
    color: #ffffff;
}

.btn {
    background-color: #5988E2;
    color: #fff;
}
.browse-button {
    background-color: #194280;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.browse-button:hover {
    background-color: #14305a;
}
th {
    font-size: 14px;
    color: #323031;
}

tr {
    font-size: 13px;
}

tbody tr:hover {
    background-color: #fff6 !important;
}

.status {
    padding: 2px;
    border-radius: 2rem;
    text-align: center;
}

.status.pending {
    background-color: #ebc474;
    color: #986500;
}

@media (max-width: 576px) {
    .border-right {
        border-right: 0;
    }
    .col-md-8, .col-md-4 {
        width: 100%;
    }
    .col-md-4 {
        margin-top: 20px;
    }
}